* {
    box-sizing: border-box;
    margin: 0; 
    padding: 0;
    font-size: 20px;
  }

body{
    display: block;
    max-width: 1460px;
    /* min-height: 10px; */
}

.row {
    display: flex;
    flex-wrap: wrap;
    /* overflow: hidden; */
  }
  
.col {
    width: 8.3333%;
  }
  
.col-2 {
    width: calc(2 * 8.3333%);
  }
  
.col-3 {
    width: calc(3 * 8.3333%);
  }

.col-4 {
    width: calc(4 * 8.3333%);
  }

.col-5 {
    width: calc(5 * 8.3333%);
  }

.header-bar{
    background-color: black;
    border-bottom: 4px solid yellow;
    box-shadow: 0px 5px 5px 0px #999;
    max-width: 100%;
    /* height: 80px; */
    padding: 20px 75px 20px 75px;
    overflow: hidden;

    /* justify-content: space-between;
    align-items: center; */
} 

.nav-title{
    font-family: 'Merriweather', serif;
    font-size: 30px;
    font-weight: 900;
    text-decoration: none;
    color: yellow;

    display: inline-block;
    justify-content: flex-start;
    margin: 0px 450px 0px 0px;
}

.navbar{
    justify-content: flex-end;
}

.nav-menu-item{
    font-family: 'Oswald', sans-serif;
    text-decoration: none;
    font-weight: 900;
    font-size: 20px;
    text-transform: uppercase;
    color: white;

    display: inline-block;
    /* margin: 0px 20px 0px 0px; */
}

.sub-menu-item{
    font-family: 'Source Sans Pro', sans-serif;
    text-transform: capitalize;
}

.nav-menu-item:hover{
    color: yellow;
}

.nav-menu-item:after {
    content: "";
    color: white;
    margin: 0 10px;
}

.sub-menu-item:last-child:after{
    content: "";
    margin: 0;  
} 

.tagline-bar{
    background-color: #C6C6C6;
    height: 80px;
    justify-content: center;
    align-items: center; 
    /* overflow: hidden; */
}

.tagline-bar-text{
    font-family: 'Merriweather', serif;
    font-style: italic;
    font-weight: 900;
    font-size: 25px;
    text-align: center;
}

del{
    color: #999;
    font-size: 25px;
    
}

ins{
    text-decoration: none;
    border-bottom: 3px solid yellow;
    font-size: 25px;
    /* color: yellow; */
}

.img-bar{
    min-height: 400px;
    padding: 50px 100px 50px 0;
    background-color: white;
    background-image: url("/Users/pamelaabreu/Desktop/nw/unit2/FEWD_Developer_Matchmaker/images/coworking.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    justify-content: flex-end;
    overflow: hidden;
    
}

.box{
    background-color: rgba(255, 255, 255, 0.753);
    box-shadow: 0px 0px 5px 0px rgb(0, 0, 0);
    margin: 0;
    padding: 40px;
    overflow: hidden;
}

.box-headline{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 30px;
    font-weight: bold;
}

p{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
    line-height: 30px;
}

.yellow-button{
    display: block;
    background-color: yellow;
    min-height: 50px;
    border-radius: 5px;
    margin-top: 40px;
    box-shadow: 0px 3px 0px 0px #CBC63F;

    font-family: 'Oswald', sans-serif;
    font-weight: 900;
    font-size: 20px;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    letter-spacing: 1px;
    color: black;
    padding-top: 10px;
    overflow: hidden;
}

.article-col{
    justify-content: space-around;
    align-content: center;
    /* height: 350px; */
    padding: 40px 10px 40px 10px;
    overflow: hidden;
}


.col-header-text{
    font-family: 'Merriweather', serif;
    font-weight: 900;
    font-size: 25px;
}

.col-4{
    border-right: 1px solid#999;
    padding: 0px 50px 0px 50px;
}


.col-4:last-child{
    margin: 0;
    border: none;  
} 

.gray-button{
    background-color: #C6C6C6;
    box-shadow: 0px 3px 0px 0px #9E9E9E;
}

.footer-bar {
    background-color: black;
    height: 80px;
    padding: 30px;
}

.footer-bar-text{
   color: white; 
}




